/*Core Stylesheet*/

@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Francois+One');

body {
	/*font-family: Arial;
	font-size: 15px;
	line-height: 1.5;*/
	font: 15px/1.5 Arial;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}

/* Global */
.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}

 ul {
	margin: 0;
	padding: 0;
}

.button-1 {
	height: 38px;
	background: #60e3e5;
	border: 0;
	padding-left: 20px;
	padding-right: 20px;
	color: #ffffff;
	font-weight: bold;
}

/* Header */
header {
	background: #495e5e;
	color: #ffffff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #60e3e5 5px solid; 
}

header a {
	color: #ffffff;
	text-decoration: none;
	font-size: 24px;
	font-family: 'Roboto Condensed';
}

header li {
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header #logo {
	float: left;
}

header #logo h1 {
	margin: 0;
	font-family: 'Roboto Condensed';
}

header nav {
	float: right;
	margin-top: 10px;
}

header .highlight {
	color: #60e3e5;
	font-weight: bold;
}

header a:hover {
	color: #60e3e5;
	font-weight: bold;
	cursor: pointer;
}

/* Hero-Space */
#hero-space {
	min-height: 400px;
	background: url('images/pattern.jpg') no-repeat 0 -300px;
	text-align: center;
}

#hero-space h1 {
	margin-top: 100px;
	font-size: 55px;
	margin-bottom: 10px;
}

#hero-space p {
	font-size: 24px;
}

section .container #title {
	font-family: 'Roboto Condensed';
	color: #495e5e;
	text-shadow: 2px 2px #ffffff;
}

p {
	font-family: 'Roboto Condensed';
	font-size: 20px;
}

/* Newsletter Space - for aesthetics */
#newsletter {
	padding: 15px;
	color: #ffffff;
	background: #495e5e;
}

#newsletter h1 {
	float: left;
	color: #ffffff;
}

section .container h1 {
	font-family: 'Roboto Condensed';
	color: #495e5e;
}

#newsletter form {
	float: right;
	margin-top: 15px;
}

#newsletter input[type="email"] {
	padding: 4px;
	height: 25px;
	width: 300px;
}

/*Boxes*/
#boxes {
	margin-top: 30px;
}

.box-1, .box-2 {
	float: left;
	text-align: center;
	width: 31%
}

.box-3 {
	float: left;
	text-align: center;
	width: 30%
}

.box-1, .box-2, .box-3 {
	height: 325px;
	padding: 10px;
	border: #cccccc solid 2px;
	margin: 5px;
	background: #e6e6e6;
}

#boxes img {
	width: 90px;
}

#boxes h3 {
	font-family: 'Roboto Condensed';
	font-weight: bold;
	font-size: 24px;
}

/*Footer*/
footer {
	padding: 20px;
	margin-top: 30px;
	color: #ffffff;
	background-color: #495e5e;
	text-align: center;
}

footer p {
	font-size: 20px;
}
